<div class="container">
  <div>
    <img src="../../../../assets/img/Capturaf.PNG" alt="" />
  </div>
  <div class="row">
    <div class="card">
      <h1 class="titule"></h1>
      <form class="form" [formGroup]="_login">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="user" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="pass" type="password" />
        </mat-form-field>
        <button mat-raised-button (click)="loginValidation()">
          Entrar
        </button>
        <button mat-raised-button (click)="loginNoValidation()">
          No usuario
        </button>
      </form>
    </div>
  </div>
</div>
