.container{
  
  display: flex;
  justify-content:center;
padding-top: 200px;
  top: 100%;
}
.row{
  flex-direction: row; 
}
.titule{
  //color: #3f51b5;
 // font-weight: bold;
}
.card{
    color: #ff8300;
     border: none; 
     border-radius: 0rem; 
margin-top: 100px;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;  
  align-items: center;
}
.top{
  height: 100px;
}
.login_Button_Entry{
  //background-color: #ff8300;
  font-size: larger;
  color: #ff8300;
  border: 1px solid #ff8300; 
  width: 100%;
  margin-bottom: 15px;
}
.login_Button_NoUser{
   font-size: larger;
   //background-color:dimgray;
  color: dimgray;
  //background-color: black; 
border: 1px solid dimgray; 
  width: 100%;
}
mat-label{
 color: black; 
}
 mat-form-field-underline{
  border-bottom: #ff8300;
}
.mat-form-field {
   background-color: white;
}