.header_contenedor{
   // height: 100%;
   // background-color: black;
    //background-image: url(../../../../assets/img/loginPares.jpg);
}
.header_encabezado{
    display: flex;
   background-color: white;
   justify-content: space-between;
   align-items: center;
   //flex-direction: ;
   //flex-direction: column;
}
img{
    width: 13%;
}
.header_icono{
       margin-right: 100px;
    font-size: xx-large;
}
.header_user_logeado{
    width: 40px;
     height: 40px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: black;
     display:flex;
     margin-right: 100px;
     justify-content: center;
     //#ff8300
}
.header_user_logeado_letra{
    position: relative;
    top: 10px;
     color: white;
     font-weight: bold;
}