.header_contenedor{
    height: 100%;
    background-color: black;
    //background-image: url(../../../../assets/img/loginPares.jpg);
}
.header_encabezado{
    display: flex;
   background-color: white;
   justify-content: space-between;
   align-items: center;
   //flex-direction: ;
   //flex-direction: column;
}
img{
    width: 13%;
}
.header_icono{
       margin-right: 100px;
    font-size: xx-large;
}
