.header_contenedor{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

img{
    width: 8%;
}
.header_icono{
    justify-content: end;
       margin-right: 100px;
    font-size: xx-large;
    color: #ff8300;;
}
.header_user_logeado{
    width: 40px;
     height: 40px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background-color: dimgrey;
     display:flex;
     margin-right: 100px;
     justify-content: center;
     //#ff8300
}
.header_user_logeado_letra{
    position: relative;
    top: 10px;
     color: white;
     font-weight: bold;
}