.home_general{ 
    display: flex; 
    justify-content :space-around;  
height: 81.4%;
   background-color: black;
    align-items: center;
}
.card{
    width: 300px;
    height: 400px;
    background-color: white;
     border-radius: 25px;
     border:1px solid #ff8300 ;
     //opacity: 0.1;
}
.home_Button_Entry{
  //background-color: #ff8300;
  font-size: larger;
  color: white;
  border: 1px solid #ff8300; 
  background-color: #ff8300;
  //width: 100%;
  //margin-bottom: 15px;
  //align-items: flex-end;
  position: relative;
    top: 80%;
        width: 60%;
    align-self: center;
  
}