.home_general{ 
    display: flex; 
    justify-content :space-around;  
height: 81.4%;
   background-color: dimgrey;
    align-items: center;
}
.card{
    width: 300px;
    height: 400px;
    background-color: white;
     border-radius: 25px;
     border:1px solid #ff8300 ;
     //opacity: 0.1;
}
.home_Button_Entry{
  //background-color: #ff8300;
  font-size: larger;
  color: white;
  border: 1px solid #ff8300; 
  background-color: #ff8300;
  position: relative;
    top: 20%;
    width: 60%;
    align-self: center;
  
}
svg{
    height:60%;
    width: 60%;
    color: #ff8300;
    align-self: center;
    position: relative;
    top: 10%; 
}